@tailwind base;
@tailwind components;
@tailwind utilities;
:root::-webkit-scrollbar {
    display: none;
  }
  
 #leaderboard {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-y: scroll; 
  }
  #leaderboard::-webkit-scrollbar {
    display: none;
  }
  :root {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    overflow-y: scroll; 
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
     transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
  
  @layer utilities {
    .animate-slideDown {
      animation: slideDown 0.4s ease forwards;
    }
  }

  @layer utilities {
    .animate-slideDown {
      animation: slideDown 0.4s ease forwards;
    }
    .animate-slideUp {
      animation: slideUp 0.4s ease forwards;
    }
  }